# Exercise 4.6 Combining & Exporting Data Steps 3 - 9

## This script contains the following points:
## Step 3
## Step 4
## Step 5
## Step 6
## Step 7

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

## Step 3

In [2]:
path = r"C:\Users\wallm\11 2024 Instacart Basket Analysis 1"

In [5]:
path

'C:\\Users\\wallm\\11 2024 Instacart Basket Analysis 1'

In [5]:
# Import orders_products_combined in pickle file
df_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Step 4

In [11]:
df_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [16]:
df_prods_comb.shape

(32434489, 10)

##### Same output as the file exported

## Step 5

In [7]:
# Import cleaned 'Products data set'
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [13]:
# Display the first 5 rows of the DataFrame to inspect the data
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
# Check the dimensions (rows, columns) of the file to understand its structure
df_prods_clean.shape

(49672, 6)

In [17]:
# Merge df_prods_comb with df_prods_clean on 'product_id'
df_final_merge = df_prods_comb.merge(df_prods_clean, on = ['product_id'], indicator = 'Match')

## Step 6

In [19]:
df_final_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,Match
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [21]:
df_final_merge.shape

(32404859, 16)

In [23]:
df_final_merge['Match'].value_counts()

Match
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Step 7

In [25]:
# Export df_final_merge as pickle file named ords_prods_merge
df_final_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [27]:
# Confirm the export
print("Dataframe exported successfully as 'ords_prods_merge.pkl'.")

Dataframe exported successfully as 'ords_prods_merge.pkl'.