# 4.6 Combining & Exporting Data Task Steps 1 - 2

In [13]:
import pandas as pd
import numpy as np
import os

## This script contains the following points:
## Step 1
## Step 2

## Step 1

In [5]:
path = r"C:\Users\wallm\11 2024 Instacart Basket Analysis 1"

In [5]:
path

'C:\\Users\\wallm\\11 2024 Instacart Basket Analysis 1'

In [17]:
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Prepared data', 'orders_products_prior.csv'), index_col = False)

In [19]:
df_ords = pd.read_csv(os.path.join(path,'02 Data','Prepared data','orders_wrangled.csv'),index_col = False)

In [21]:
# Check dimensions
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
# Check the output
df_ords_prior.shape

(32434489, 4)

In [15]:
#check dimensions
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [17]:
# check the output
df_ords.shape

(3421083, 6)

In [23]:
# merge the 2 data frames
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [29]:
df_merged_large.head

<bound method NDFrame.head of           order_id  user_id  order_number  orders_day_of_week  \
0          2539329        1             1                   2
1          2539329        1             1                   2
2          2539329        1             1                   2
3          2539329        1             1                   2
4          2539329        1             1                   2
...            ...      ...           ...                 ...
32434484   2977660   206209            13                   1
32434485   2977660   206209            13                   1
32434486   2977660   206209            13                   1
32434487   2977660   206209            13                   1
32434488   2977660   206209            13                   1

          order_hour_of_day  days_since_last_order  product_id  \
0                         8                    NaN         196
1                         8                    NaN       14084
2                         8                    NaN       12427
3                         8                    NaN       26088
4                         8                    NaN       26405
...                     ...                    ...         ...
32434484                 12                    7.0       14197
32434485                 12                    7.0       38730
32434486                 12                    7.0       31477
32434487                 12                    7.0        6567
32434488                 12                    7.0       22920

          add_to_cart_order  reordered _merge
0                         1          0   both
1                         2          0   both
2                         3          0   both
3                         4          0   both
4                         5          0   both
...                     ...        ...    ...
32434484                  5          1   both
32434485                  6          0   both
32434486                  7          0   both
32434487                  8          0   both
32434488                  9          0   both

[32434489 rows x 10 columns]>

In [19]:
df_merged_large.shape

(32434489, 10)

In [27]:
# check final merged output
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
df_merged_large

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

## Step 2

In [31]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [33]:
# Confirm the export
print("Dataframe exported successfully as 'orders_products_combined.pkl'.")

Dataframe exported successfully as 'orders_products_combined.pkl'.