# 4.8 Grouping Data & Aggregating Variables

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

In [5]:
path = r"C:\Users\wallm\11 2024 Instacart Basket Analysis 1"

In [10]:
path

'C:\\Users\\wallm\\11 2024 Instacart Basket Analysis 1'

In [7]:
ords_prods_merge= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_with_busiest_day_and_period.pkl'))

In [9]:
# create a subset called df of the first one million entries
df = ords_prods_merge[:1000000]

In [45]:
df.shape

(1000000, 18)

In [47]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,Match,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders

In [11]:
df = df.drop(columns=['Unnamed: 0'])

In [51]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders

In [13]:
df.groupby('product_name')

In [15]:
# calculate the mean of the “order_number” column grouped by the “department_id” column, you could quickly compare the average number of orders per user
# across each Instacart department

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [17]:
import pandas as pd
from scipy.stats import ttest_ind

# Example: Load your dataset (if it's a CSV or existing DataFrame)
# df = pd.read_csv("your_dataset.csv")

# Define two groups for comparison: Filter by department_id (e.g., 1 and 2)
group1 = df[df['department_id'] == 1]['order_number']
group2 = df[df['department_id'] == 2]['order_number']

# Perform an independent t-test
t_stat, p_value = ttest_ind(group1, group2, equal_var=False)  # Use equal_var=False if variances differ

# Output the results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The means are significantly different.")
else:
    print("Fail to reject the null hypothesis: The means are not significantly different.")

T-statistic: -4.131315726845536
P-value: 3.876484329119952e-05
Reject the null hypothesis: The means are significantly different.

In [19]:
# the command above could be replaced with a command that uses the mean() function to achieve the same results:

df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [21]:
# Another way is
df.groupby('department_id').order_number.mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

##### Think about visability when choosing your method, i.e. square brackets stand out and other others can see what you have done.

In [23]:
# You’ll be working again with the “order_number” column, this time producing not only the mean but also the min and max:

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

##### “Loyalty” customers are those that are loyal to a brand. These are customers that come back time and time again and use the service or buy the product often. You’ve been asked to locate these loyalty customers at Instacart so that the business strategy team can employ some kind of bonus point program for them. You’ll do this by first using the transform() function, which will create a new column containing the maximum frequency of the “order_number” column, and then using the loc() function, which will create a second column containing a flag designating whether a customer is “loyal” or not.

In [25]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [27]:
ords_prods_merge.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,Match,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,13176,Bag of Organic Bananas,24,4,10.3,both,Least busy days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Least busy days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,13032,Cinnamon Toast Crunch,121,14,4.0,both,Least busy days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Most orders,10
15,473747,1,3,3,12,21.0,30450,5,0,both,30452,Creamy Almond Butter,88,13,3.2,both,Least busy days,Most orders,10
16,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders,10
17,2254736,1,4,4,7,29.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders,10
18,2254736,1,4,4,7,29.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders,10
19,2254736,1,4,4,7,29.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Average orders,10
20,2254736,1,4,4,7,29.0,26405,5,1,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Least busy days,Average orders,10
21,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Most orders,10
22,431534,1,5,4,15,28.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Most orders,10
23,431534,1,5,4,15,28.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Most orders,10
24,431534,1,5,4,15,28.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Most orders,10
25,431534,1,5,4,15,28.0,10326,5,0,both,10326,Organic Fuji Apples,24,4,2.7,both,Least busy days,Most orders,10
26,431534,1,5,4,15,28.0,17122,6,0,both,17122,Honeycrisp Apples,24,4,14.0,both,Least busy days,Most orders,10
27,431534,1,5,4,15,28.0,41787,7,0,both,41791,Bartlett Pears,24,4,5.0,both,Least busy days,Most orders,10
28,431534,1,5,4,15,28.0,13176,8,1,both,13176,Bag of Organic Bananas,24,4,10.3,both,Least busy days,Most orders,10
29,3367565,1,6,2,7,19.0,196,1,1,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders,10
30,3367565,1,6,2,7,19.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders,10
31,3367565,1,6,2,7,19.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Regularly busy,Average orders,10
32,3367565,1,6,2,7,19.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Regularly busy,Average orders,10
33,550135,1,7,1,9,20.0,196,1,1,both,195,Soda,77,7,9.0,both,Busiest days,Average orders,10
34,550135,1,7,1,9,20.0,10258,2,1,both,10258,Pistachios,117,19,3.0,both,Busiest days,Average orders,10
35,550135,1,7,1,9,20.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,both,Busiest days,Average orders,10
36,550135,1,7,1,9,20.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Busiest days,Average orders,10
37,550135,1,7,1,9,20.0,13032,5,1,both,13032,Cinnamon Toast Crunch,121,14,4.0,both,Busiest days,Average orders,10
38,3108588,1,8,1,14,14.0,12427,1,1,both,12427,Original Beef Jerky,23,19,4.4,both,Busiest days,Most orders,10
39,3108588,1,8,1,14,14.0,196,2,1,both,195,Soda,77,7,9.0,both,Busiest days,Most orders,10
40,3108588,1,8,1,14,14.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Busiest days,Most orders,10
41,3108588,1,8,1,14,14.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Busiest days,Most orders,10
42,3108588,1,8,1,14,14.0,46149,5,0,both,46153,Zero Calorie Cola,77,7,13.4,both,Busiest days,Most orders,10
43,3108588,1,8,1,14,14.0,49235,6,0,both,49239,Organic Half & Half,53,16,1.8,both,Busiest days,Most orders,10
44,2295261,1,9,1,16,0.0,49235,1,1,both,49239,Organic Half & Half,53,16,1.8,both,Busiest days,Average orders,10
45,2295261,1,9,1,16,0.0,46149,2,1,both,46153,Zero Calorie Cola,77,7,13.4,both,Busiest days,Average orders,10
46,2295261,1,9,1,16,0.0,25133,3,1,both,25134,Organic String Cheese,21,16,8.6,both,Busiest days,Average orders,10
47,2295261,1,9,1,16,0.0,196,4,1,both,195,Soda,77,7,9.0,both,Busiest days,Average orders,10
48,2295261,1,9,1,16,0.0,10258,5,1,both,10258,Pistachios,117,19,3.0,both,Busiest days,Average orders,10
49,2295261,1,9,1,16,0.0,12427,6,1,both,12427,Original Beef Jerky,23,19,4.4,both,Busiest days,Average orders,10
50,2550362,1,10,4,8,30.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders,10
51,2550362,1,10,4,8,30.0,46149,2,1,both,46153,Zero Calorie Cola,77,7,13.4,both,Least busy days,Average orders,10
52,2550362,1,10,4,8,30.0,39657,3,0,both,39661,Milk Chocolate Almonds,45,19,6.8,both,Least busy days,Average orders,10
53,2550362,1,10,4,8,30.0,38928,4,0,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Least busy days,Average orders,10
54,2550362,1,10,4,8,30.0,25133,5,1,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Average orders,10
55,2550362,1,10,4,8,30.0,10258,6,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders,10
56,2550362,1,10,4,8,30.0,35951,7,0,both,35955,Organic Unsweetened Almond Milk,91,16,1.3,both,Least busy days,Average orders,10
57,2550362,1,10,4,8,30.0,13032,8,1,both,13032,Cinnamon Toast Crunch,121,14,4.0,both,Least busy days,Average orders,10
58,2550362,1,10,4,8,30.0,12427,9,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders,10
59,2168274,2,1,2,11,NaN,32792,1,0,both,32794,Chipotle Beef & Pork Realstick,23,19,5.2,both,Regularly busy,Most orders,14

##### You can check these values by scrolling through the “user_ID” column and matching the max order value to the number of times the user ID appears within the dataframe. For the user with an ID of 1, for instance, you can see that the numbers in the “order_number” column increase up to 10. This matches the value in the “max_order” column, so you know your data is accurate:

In [29]:
# Or

ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,Match,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,21150,13,0,both,21151,Fire Grilled Steak Bowl,38,1,5.9,both,Regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,47144,1,0,both,47148,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Least busy days,Most orders,14
97,1673511,2,5,3,11,8.0,5322,2,0,both,5322,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Least busy days,Most orders,14
98,1673511,2,5,3,11,8.0,17224,3,0,both,17224,Oats & Honey Gluten Free Granola,3,19,1.6,both,Least busy days,Most orders,14
99,1673511,2,5,3,11,8.0,38656,4,0,both,38660,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Least busy days,Most orders,14

In [31]:
pd.options.display.max_rows = None

In [33]:
# Now there will not abe a restriction on the display shown

ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,Match,busiest_day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,13176,Bag of Organic Bananas,24,4,10.3,both,Least busy days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Least busy days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,13032,Cinnamon Toast Crunch,121,14,4.0,both,Least busy days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Most orders,10
15,473747,1,3,3,12,21.0,30450,5,0,both,30452,Creamy Almond Butter,88,13,3.2,both,Least busy days,Most orders,10
16,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders,10
17,2254736,1,4,4,7,29.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders,10
18,2254736,1,4,4,7,29.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders,10
19,2254736,1,4,4,7,29.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Average orders,10
20,2254736,1,4,4,7,29.0,26405,5,1,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Least busy days,Average orders,10
21,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Most orders,10
22,431534,1,5,4,15,28.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Most orders,10
23,431534,1,5,4,15,28.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Most orders,10
24,431534,1,5,4,15,28.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Most orders,10
25,431534,1,5,4,15,28.0,10326,5,0,both,10326,Organic Fuji Apples,24,4,2.7,both,Least busy days,Most orders,10
26,431534,1,5,4,15,28.0,17122,6,0,both,17122,Honeycrisp Apples,24,4,14.0,both,Least busy days,Most orders,10
27,431534,1,5,4,15,28.0,41787,7,0,both,41791,Bartlett Pears,24,4,5.0,both,Least busy days,Most orders,10
28,431534,1,5,4,15,28.0,13176,8,1,both,13176,Bag of Organic Bananas,24,4,10.3,both,Least busy days,Most orders,10
29,3367565,1,6,2,7,19.0,196,1,1,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders,10
30,3367565,1,6,2,7,19.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders,10
31,3367565,1,6,2,7,19.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Regularly busy,Average orders,10
32,3367565,1,6,2,7,19.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Regularly busy,Average orders,10
33,550135,1,7,1,9,20.0,196,1,1,both,195,Soda,77,7,9.0,both,Busiest days,Average orders,10
34,550135,1,7,1,9,20.0,10258,2,1,both,10258,Pistachios,117,19,3.0,both,Busiest days,Average orders,10
35,550135,1,7,1,9,20.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,both,Busiest days,Average orders,10
36,550135,1,7,1,9,20.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Busiest days,Average orders,10
37,550135,1,7,1,9,20.0,13032,5,1,both,13032,Cinnamon Toast Crunch,121,14,4.0,both,Busiest days,Average orders,10
38,3108588,1,8,1,14,14.0,12427,1,1,both,12427,Original Beef Jerky,23,19,4.4,both,Busiest days,Most orders,10
39,3108588,1,8,1,14,14.0,196,2,1,both,195,Soda,77,7,9.0,both,Busiest days,Most orders,10
40,3108588,1,8,1,14,14.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Busiest days,Most orders,10
41,3108588,1,8,1,14,14.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Busiest days,Most orders,10
42,3108588,1,8,1,14,14.0,46149,5,0,both,46153,Zero Calorie Cola,77,7,13.4,both,Busiest days,Most orders,10
43,3108588,1,8,1,14,14.0,49235,6,0,both,49239,Organic Half & Half,53,16,1.8,both,Busiest days,Most orders,10
44,2295261,1,9,1,16,0.0,49235,1,1,both,49239,Organic Half & Half,53,16,1.8,both,Busiest days,Average orders,10
45,2295261,1,9,1,16,0.0,46149,2,1,both,46153,Zero Calorie Cola,77,7,13.4,both,Busiest days,Average orders,10
46,2295261,1,9,1,16,0.0,25133,3,1,both,25134,Organic String Cheese,21,16,8.6,both,Busiest days,Average orders,10
47,2295261,1,9,1,16,0.0,196,4,1,both,195,Soda,77,7,9.0,both,Busiest days,Average orders,10
48,2295261,1,9,1,16,0.0,10258,5,1,both,10258,Pistachios,117,19,3.0,both,Busiest days,Average orders,10
49,2295261,1,9,1,16,0.0,12427,6,1,both,12427,Original Beef Jerky,23,19,4.4,both,Busiest days,Average orders,10
50,2550362,1,10,4,8,30.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders,10
51,2550362,1,10,4,8,30.0,46149,2,1,both,46153,Zero Calorie Cola,77,7,13.4,both,Least busy days,Average orders,10
52,2550362,1,10,4,8,30.0,39657,3,0,both,39661,Milk Chocolate Almonds,45,19,6.8,both,Least busy days,Average orders,10
53,2550362,1,10,4,8,30.0,38928,4,0,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Least busy days,Average orders,10
54,2550362,1,10,4,8,30.0,25133,5,1,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Average orders,10
55,2550362,1,10,4,8,30.0,10258,6,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders,10
56,2550362,1,10,4,8,30.0,35951,7,0,both,35955,Organic Unsweetened Almond Milk,91,16,1.3,both,Least busy days,Average orders,10
57,2550362,1,10,4,8,30.0,13032,8,1,both,13032,Cinnamon Toast Crunch,121,14,4.0,both,Least busy days,Average orders,10
58,2550362,1,10,4,8,30.0,12427,9,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders,10
59,2168274,2,1,2,11,NaN,32792,1,0,both,32794,Chipotle Beef & Pork Realstick,23,19,5.2,both,Regularly busy,Most orders,14
60,2168274,2,1,2,11,NaN,47766,2,0,both,47770,Organic Avocado,24,4,6.3,both,Regularly busy,Most orders,14
61,2168274,2,1,2,11,NaN,20574,3,0,both,20575,Roasted Turkey,96,20,2.3,both,Regularly busy,Most orders,14
62,2168274,2,1,2,11,NaN,12000,4,0,both,12000,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,both,Regularly busy,Most orders,14
63,2168274,2,1,2,11,NaN,48110,5,0,both,48114,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,both,Regularly busy,Most orders,14
64,2168274,2,1,2,11,NaN,22474,6,0,both,22475,Cheddar Bunnies Snack Crackers,78,19,4.1,both,Regularly busy,Most orders,14
65,2168274,2,1,2,11,NaN,16589,7,0,both,16589,Plantain Chips,107,19,5.0,both,Regularly busy,Most orders,14
66,2168274,2,1,2,11,NaN,35917,8,0,both,35921,Organic Just Concord Grape Juice,98,7,9.4,both,Regularly busy,Most orders,14
67,2168274,2,1,2,11,NaN,27344,9,0,both,27346,Uncured Genoa Salami,96,20,14.8,both,Regularly busy,Most orders,14
68,2168274,2,1,2,11,NaN,30489,10,0,both,30491,Original Hummus,67,20,7.5,both,Regularly busy,Most orders,14
69,2168274,2,1,2,11,NaN,27966,11,0,both,27968,Organic Raspberries,123,4,4.4,both,Regularly busy,Most orders,14
70,2168274,2,1,2,11,NaN,13176,12,0,both,13176,Bag of Organic Bananas,24,4,10.3,both,Regularly busy,Most orders,14
71,2168274,2,1,2,11,NaN,45066,13,0,both,45070,Honeycrisp Apple,24,4,2.5,both,Regularly busy,Most orders,14
72,1501582,2,2,5,10,10.0,16797,1,0,both,16797,Strawberries,24,4,1.3,both,Regularly busy,Most orders,14
73,1501582,2,2,5,10,10.0,47526,2,0,both,47530,Goat Cheese Log,21,16,2.0,both,Regularly busy,Most orders,14
74,1501582,2,2,5,10,10.0,8479,3,0,both,8479,Original Black Box Tablewater Cracker,78,19,3.5,both,Regularly busy,Most orders,14
75,1501582,2,2,5,10,10.0,47766,4,1,both,47770,Organic Avocado,24,4,6.3,both,Regularly busy,Most orders,14
76,1501582,2,2,5,10,10.0,19051,5,0,both,19052,"Pita Chips, Simply Naked, Party Size",107,19,3.9,both,Regularly busy,Most orders,14
77,1501582,2,2,5,10,10.0,8138,6,0,both,8138,Traditional Hummus,67,20,2.0,both,Regularly busy,Most orders,14
78,1901567,2,3,1,10,3.0,47766,1,1,both,47770,Organic Avocado,24,4,6.3,both,Busiest days,Most orders,14
79,1901567,2,3,1,10,3.0,32792,2,1,both,32794,Chipotle Beef & Pork Realstick,23,19,5.2,both,Busiest days,Most orders,14
80,1901567,2,3,1,10,3.0,20574,3,1,both,20575,Roasted Turkey,96,20,2.3,both,Busiest days,Most orders,14
81,1901567,2,3,1,10,3.0,7781,4,0,both,7781,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16,6.6,both,Busiest days,Most orders,14
82,1901567,2,3,1,10,3.0,28874,5,0,both,28876,Carrot Ginger Soup,1,20,6.2,both,Busiest days,Most orders,14
83,738281,2,4,2,10,8.0,49451,1,0,both,49455,Artichoke Spinach Dip,67,20,7.1,both,Regularly busy,Most orders,14
84,738281,2,4,2,10,8.0,32792,2,1,both,32794,Chipotle Beef & Pork Realstick,23,19,5.2,both,Regularly busy,Most orders,14
85,738281,2,4,2,10,8.0,32139,3,0,both,32141,Hommus Classic Original,67,20,7.5,both,Regularly busy,Most orders,14
86,738281,2,4,2,10,8.0,34688,4,0,both,34690,Good Belly Probiotics Juice Drink Blueberry Ac...,31,7,5.8,both,Regularly busy,Most orders,14
87,738281,2,4,2,10,8.0,36735,5,0,both,36739,Organic Roasted Sliced Chicken Breast,96,20,8.9,both,Regularly busy,Most orders,14
88,738281,2,4,2,10,8.0,37646,6,0,both,37650,Organic Gala Apples,24,4,9.1,both,Regularly busy,Most orders,14
89,738281,2,4,2,10,8.0,22829,7,0,both,22830,Multigrain Flax Seeded Flatbread Crackers,78,19,5.5,both,Regularly busy,Most orders,14
90,738281,2,4,2,10,8.0,24852,8,0,both,24853,Banana,24,4,12.3,both,Regularly busy,Most orders,14
91,738281,2,4,2,10,8.0,47209,9,0,both,47213,Organic Hass Avocado,24,4,4.0,both,Regularly busy,Most orders,14
92,738281,2,4,2,10,8.0,33276,10,0,both,33278,Kalamata Olive Spread,67,20,10.8,both,Regularly busy,Most orders,14
93,738281,2,4,2,10,8.0,45613,11,0,both,45617,Pad Thai,38,1,12.6,both,Regularly busy,Most orders,14
94,738281,2,4,2,10,8.0,9681,12,0,both,9681,Chicken Tikka Masala with Cumin Infused Basmat...,38,1,2.0,both,Regularly busy,Most orders,14
95,738281,2,4,2,10,8.0,21150,13,0,both,21151,Fire Grilled Steak Bowl,38,1,5.9,both,Regularly busy,Most orders,14
96,1673511,2,5,3,11,8.0,47144,1,0,both,47148,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Least busy days,Most orders,14
97,1673511,2,5,3,11,8.0,5322,2,0,both,5322,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Least busy days,Most orders,14
98,1673511,2,5,3,11,8.0,17224,3,0,both,17224,Oats & Honey Gluten Free Granola,3,19,1.6,both,Least busy days,Most orders,14
99,1673511,2,5,3,11,8.0,38656,4,0,both,38660,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Least busy days,Most orders,14

In [35]:
# Create loyalty Flags

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [39]:
print(ords_prods_merge[['max_order', 'loyalty_flag']].head())

   max_order  loyalty_flag
0         10  New customer
1         10  New customer
2         10  New customer
3         10  New customer
4         10  New customer

In [41]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [76]:
# can be used to access multiple columns at the same time. For instance, if you wanted to write a head() function that returned the first 60 rows of only
#  the “user_id,” “loyalty_flag,” and “order_number” columns, you could format it as follows

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [75]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,Match,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both,Regularly busy,Average orders
1,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Regularly busy,Average orders
2,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Regularly busy,Average orders
3,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Regularly busy,Average orders
4,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Regularly busy,Average orders
5,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders
6,2398795,1,2,3,7,15.0,10258,2,0,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders
7,2398795,1,2,3,7,15.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders
8,2398795,1,2,3,7,15.0,13176,4,0,both,13176,Bag of Organic Bananas,24,4,10.3,both,Least busy days,Average orders
9,2398795,1,2,3,7,15.0,26088,5,1,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Least busy days,Average orders
10,2398795,1,2,3,7,15.0,13032,6,0,both,13032,Cinnamon Toast Crunch,121,14,4.0,both,Least busy days,Average orders
11,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Most orders
12,473747,1,3,3,12,21.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Most orders
13,473747,1,3,3,12,21.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Most orders
14,473747,1,3,3,12,21.0,25133,4,0,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Most orders
15,473747,1,3,3,12,21.0,30450,5,0,both,30452,Creamy Almond Butter,88,13,3.2,both,Least busy days,Most orders
16,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both,Least busy days,Average orders
17,2254736,1,4,4,7,29.0,12427,2,1,both,12427,Original Beef Jerky,23,19,4.4,both,Least busy days,Average orders
18,2254736,1,4,4,7,29.0,10258,3,1,both,10258,Pistachios,117,19,3.0,both,Least busy days,Average orders
19,2254736,1,4,4,7,29.0,25133,4,1,both,25134,Organic String Cheese,21,16,8.6,both,Least busy days,Average orders